.pagination{
text-align: center;
justify-content: center;
margin-top: 40px;
display: flex;
}

.pagination button{
    border: 1px solid #bbb7b7;
     width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #bbb7b7;
    margin-left: 10px;
}

.selected{
    background-color: #3385d8;
    color: #fff;
}

.disabled{
    background-color: #eee;
}