.wrapper{
  overflow: hidden;
  border-radius: 30px;
  margin-top: 25px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  color: #000;
}

.table td, th {
  padding:8px 40px;
  line-height: 40px;
}

.table tr{background-color: #fff; border-bottom: 1px solid #f2f2f2; }

.table tr:hover {background-color: #fff;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #F2F2F2;
  color: #282828
}

.operation button{
background-color: transparent;
border: none;
cursor: pointer;
}
