
@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/Kalameh(FaNum)-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

*:not(h3){
  font-family: 'Vazirmatn';
}

body {
  margin: 0 auto;
  max-width: 1140px;
 background-color: #F7F8F8;
 color: #282828;

}

h3{
font-family: 'Kalameh' ;
}

